<mat-grid-list cols="12" rowHeight="100vh">
    <mat-grid-tile [colspan]="1">
        <div style="width:100%; height: 100%; align-content: baseline;">
            <div style="width:100%; height: 15vh; background-color: lightcoral;">
                <app-profile></app-profile>
            </div>
            <div style="width:100%; height: 85vh; background-color: lightgoldenrodyellow;">
                <app-dashboard-sections></app-dashboard-sections>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="11" style="background-color: lightgreen;">
        <div style="width: 100%; height: 100%; align-content: baseline; text-align: left;">
            <router-outlet></router-outlet>
        </div>
    </mat-grid-tile>
</mat-grid-list>