<router-outlet *ngIf="!showSizeMessage"></router-outlet>

<app-loading *ngIf="showLoading && !showSizeMessage"></app-loading>

<app-alert-dialog
    [title] = "dialogConfig.title"
    [message] = "dialogConfig.message"
    [noEnable] = "dialogConfig.noEnable"
    [noText] = "dialogConfig.noText"
    [yesText] = "dialogConfig.yesText"
    [noStyle] = "dialogConfig.noStyle"
    [yesStyle] = "dialogConfig.yesStyle"
    [noColor] = "dialogConfig.noColor"
    [yesColor] = "dialogConfig.yesColor"
    [data] = "dialogConfig.data"
    (no) = "dialogConfig.noClick($event)"
    (yes) = "dialogConfig.yesClick($event)"
    *ngIf="dialogConfig.show && !showSizeMessage">
</app-alert-dialog>

<div *ngIf="showSizeMessage">
    <div class="backdrop"></div>
    <div class="dialog-box">
        <p>Visualizá esta web en una computadora de escritorio. No  fue diseñada para dispositivos móviles.</p>
    </div>
</div>