.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 200;
}

.dialog-box {
    position: fixed;
    text-align: center;
    top: 40vh;
    left: 40vw;
    width: 20vw;
    padding: 16px;
    z-index: 300;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}